body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

/* h2, p {
  width: 200px;
} */

.tile-image {
  height: 200px;
}

.card {
  display: inline-block;
  width: 45%;
}

.left img {
  float: left;
  margin: 15px;

}

.right img {
  float: left;
  margin: 15px;
}

@media (max-width: 480px) {
  .card img { 
    width: 100%;
    object-fit: cover;
  }

@media (min-width: 481px) and (max-width: 768px)

}

