<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Title</title>
   <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="wrapper">
   <div class="top">
       <div class="title"><h1>{{ topic.title() }} Blog</h1></div>
          </div>
       <div class="content">
           <div class="card">
               <h1>{{ post.title | safe}}</h1>
               <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
               <h2>{{ post.subtitle | safe }}</h2>
               <p>{{ post.body | safe}}</p>
               <a href="{{ url_for('home') }}">Home</a>
           </div>


   </div>
</div>
</body>
<footer>
   <p>Ripped off with love, from the Guardian.</p>
</footer>
</html>

